body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Share Tech Mono', monospace;
    background: linear-gradient(#0B0B15, #0C0D28);
    overflow: hidden;
}

.listrect {
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-47.5%, -50%);
}

.maprect {
    position: relative;
    top: 50%;
    transform: translate(-2.5%, -50%);
}

h1 {
    z-index: 2;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    color: #fff
}

#recipes {
    height: 590px; /* or use max-height */
    overflow-y: auto;
    padding-right: 4px;
}

#recipes::-webkit-scrollbar {
    width: 8px; /* or adjust to your liking */
}

#recipes::-webkit-scrollbar-track {
    background: transparent; /* no white track */
}

#recipes::-webkit-scrollbar-thumb {
    background-color: #555; /* the actual scrollbar bar */
    border-radius: 4px;
}

#recipes::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* optional hover effect */
}