* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  background: linear-gradient(#0B0B15, #0C0D28);
  overflow: hidden;
}

svg,
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 400;
  font-style: normal;
  transform: translate(-50%, -50%);
}

.search-box {
  top: 52%
}

.allergy-box {
  top: 61.7%;
  left: 38.75%
}

.image-box {
  top: 61.7%;
  left: 61.4%
}

.icon {
  margin-left: 10px;
  font-size: 20px;
}

.background::before {
  width: 400px;
  height: 400px;
  background: #ff6f91;
  top: -100px;
  left: -100px;
}

.background::after {
  width: 600px;
  height: 600px;
  background: #6a82fb;
  bottom: -150px;
  right: -150px;
}

::placeholder {
  color: black;
  font-family: "Roboto Mono" monospace;
}

.hover-box {
  z-index: 10;
  top: 48%;
  left: 52.8%;  
}

.search-box:hover {
    filter: drop-shadow(0 -4px 3px rgba(0, 132, 255, 0.5)) 
            drop-shadow(0 -8px 8px rgba(0, 119, 255, 0.3))
            drop-shadow(0 -12px 10px rgba(0, 89, 255, 0.2));
    transition: filter 0.4s ease;
    animation: pulse-glow 4s infinite;
}

@keyframes pulse-glow {
  0% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0.2)) drop-shadow(0 -8px 10px rgba(0, 119, 255, 0.3)) drop-shadow(0 -12px 15px rgba(0, 89, 255, 0.5));
  }

  50% {
    filter: drop-shadow(0 -6px 3px rgba(0, 140, 255, 0.6)) drop-shadow(0 -10px 5px rgba(0, 119, 255, 0.7)) drop-shadow(0 -14px 10px rgba(0, 89, 255, 0.8));
  }

  100% {
    filter: drop-shadow(0 -4px 3px rgba(0, 132, 255, 0.2)) drop-shadow(0 -8px 8px rgba(0, 119, 255, 0.3)) drop-shadow(0 -12px 0px rgba(0, 89, 255, 0.4));
  }
}