* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  background: linear-gradient(#0B0B15, #0C0D28);
  overflow: hidden;
}

svg,
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 400;
  font-style: normal;
  transform: translate(-50%, -50%);
}

.modal {
  position:absolute;
  pointer-events:none;
  z-index: 10;
  opacity: 0
}

.campopup {
  z-index: 10;
  top: 50%
}

.cambackground {
  top: -50%;
  left: 0
}

.search-box {
  top: 52%
}

.preferences-box {
  top: 61.7%;
  left: 38.75%
}

.image-box {
  top: 61.7%;
  left: 61.4%
}

#webcam-feed {
  height: 400px;
  width: 650px;
  object-fit: cover;
}

::placeholder {
  color: black;
  font-family: "Roboto Mono" monospace;
}

.search-box {
  filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));
}


.text-input:hover~.search-box {
  animation: fade-in-and-pulse 3s infinite;
}


.text-input:not(:hover)~.search-box {
  animation: fade-out 0.5s forwards;
}


.image-box {
  filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));
}


.image-box:hover {
  animation: fade-in-and-pulse 3s infinite;
}


.image-box:not(:hover) {
  animation: fade-out 0.5s forwards;
}


.preferences-box {
  filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));
}


.preferences-box:hover {
  animation: fade-in-and-pulse 3s infinite;
}


.preferences-box:not(:hover) {
  animation: fade-out 0.5s forwards;
}

.animate {
  animation: fade-in-up 0.7s ease forwards;
}

@keyframes fade-in-and-pulse {
  0% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));
  }

  33% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0.5));
  }

  66% {
    filter: drop-shadow(0 -6px 10px rgba(0, 140, 255, 0.8));
  }

  100% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));
  }
}


@keyframes fade-out {
  0% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0.5));
  }

  50% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));
  }

  100% {
    filter: drop-shadow(0 -4px 5px rgba(0, 132, 255, 0));

  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    top: 60%;
    left: 49.8%
  }

  100% {
    opacity: 1;
    top: 50%;
    left: 49.8%
  }
}

.upload-button:hover {
  cursor: pointer;
}

.close-button:hover {
  cursor: pointer;
}